:host{
    display:inline-block;
    width:30px;
    height:30px;
    font-size:14px;
}
:host([block]){
    display:block;
}

:host([disabled]){
    pointer-events:none;
}

:host(:focus-within) wu-plus-popover,:host(:hover) wu-plus-popover{
    z-index: 2;
}
wu-plus-popover{
    width:100%;
    height:100%;
}
.color-btn{
    width:100%;
    height:100%;
    padding:5px;
    background-clip: content-box;
    background-color:var(--themeColor,#42b983);
    min-width: 16px;
    min-height: 16px;
    border-radius: 2px;
}
.color-btn:hover{
    z-index: auto;
}
wu-plus-popover{
    display:block;
}
#popcon{
    min-width:100%;
}
.pop-footer{
    display:flex;
    justify-content:flex-end;
    padding:0 .8em .8em;
}
.pop-footer wu-plus-button{
    font-size: .8em;
    margin-left: .8em;
}
.color-btn::before{
    content:'';
    position:absolute;
    left:5px;
    top:5px;
    right:5px;
    bottom:5px;
    z-index:-1;
    background:linear-gradient( 45deg, #ddd 25%,transparent 0,transparent 75%,#ddd 0 ),linear-gradient( 45deg, #ddd 25%,transparent 0,transparent 75%,#ddd 0 );
    background-position:0 0,5px 5px;
    background-size:10px 10px;
}

.wu-color-picker {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    padding: 4px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 0;
    position: relative;
    cursor: pointer;
}
.wu-color-picker .wu-color-picker_inner {
    position: relative;
    display: block;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.wu-color-picker-medium {
    height: 36px;
    width: 36px;
}
.wu-color-picker-small {
    height: 32px;
    width: 32px;
}
.wu-color-picker-mini {
    height: 28px;
    width: 28px;
}
.is-disabled {
    cursor: not-allowed;
    pointer-events: all;
}
