# node.js
#
node_modules/
**/node_modules/
packages/web-plus-ui/**/lib/*
**/dist/
**/example-lib/
.idea/*
npm-debug.log
.idea
**/__snapshots__/*
packages/wu-component-icon/**/lib/**
packages/wu-component-icon/lib/**
packages/wu-component-icon/umd/**
**/umd/**
component/playground/**
