@use "sass:map";
@use "sass:math";
@import '../../theme/common/var.scss';
@import '../../theme/common/mixin.scss';
:host{
    display: inline-block;
}
:host([block]) {
    display: block;
}

.wu-select {
    position: relative;
}

.wu-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
}

.wu-select-dropdown.is-multiple .wu-select-dropdown_item.selected {
    color: $--select-option-selected-font-color;
    background-color: #fff;
}

.wu-select-dropdown.is-multiple .wu-select-dropdown_item.selected.hover {
    background-color: #f5f7fa;
}

.wu-select-dropdown .wu-scrollbar.is-empty .wu-select-dropdown_list {
    padding: 0;
}

.wu-select-dropdown_empty {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 14px;
}

.wu-select-dropdown_wrap {
    max-height: 274px;
    overflow: auto;
}

.wu-select-dropdown_list {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.block .wu-input {
    display: block;
}

.wu-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.wu-input::-webkit-scrollbar {
    z-index: 11;
    width: 6px;
}

.wu-input::-webkit-scrollbar:horizontal {
    height: 6px;
}

.wu-input::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 6px;
    background: #b4bccc;
}

.wu-input::-webkit-scrollbar-corner {
    background: #fff;
}

.wu-input::-webkit-scrollbar-track {
    background: #fff;
}

.wu-input::-webkit-scrollbar-track-piece {
    background: #fff;
    width: 6px;
}

.wu-input .wu-input_clear {
    color: #c0c4cc;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wu-input .wu-input_clear:hover {
    color: #909399;
}

.wu-input_inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
}

.wu-select-dropdown_item,
.wu-tag {
    white-space: nowrap;
    -webkit-box-sizing: border-box;
}

.wu-input_prefix,
.wu-input_suffix {
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    height: 100%;
    color: #c0c4cc;
    text-align: center;
}

.wu-input_inner::-webkit-input-placeholder {
    color: #c0c4cc;
}

.wu-input_inner:-ms-input-placeholder {
    color: #c0c4cc;
}

.wu-input_inner::-ms-input-placeholder {
    color: #c0c4cc;
}

.wu-input_inner::placeholder {
    color: #c0c4cc;
}

.wu-input_inner:hover {
    border-color: #c0c4cc;
}

.wu-input.is-active .wu-input_inner,
.wu-input_inner:focus {
    border-color: $--select-input-focus-border-color;
    outline: 0;
}

.wu-input_suffix {
    right: 5px;
    transition: all 0.3s;
    pointer-events: none;
}

.wu-input_suffix-inner {
    pointer-events: all;
}

.wu-input_prefix {
    left: 5px;
    transition: all 0.3s;
}

.wu-input_icon {
    height: 100%;
    width: 25px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 40px;
}

.wu-input_icon:after {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.wu-input_validateIcon {
    pointer-events: none;
}

.wu-input.is-disabled .wu-input_inner {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
}

.wu-input.is-disabled .wu-input_inner::-webkit-input-placeholder {
    color: #c0c4cc;
}

.wu-input.is-disabled .wu-input_inner:-ms-input-placeholder {
    color: #c0c4cc;
}

.wu-input.is-disabled .wu-input_inner::-ms-input-placeholder {
    color: #c0c4cc;
}

.wu-input.is-disabled .wu-input_inner::placeholder {
    color: #c0c4cc;
}

.wu-input.is-disabled .wu-input_icon {
    cursor: not-allowed;
}

.wu-input.is-exceed .wu-input_inner {
    border-color: #f56c6c;
}

.wu-input-suffix .wu-input_inner {
    padding-right: 30px;
}

.wu-input-prefix .wu-input_inner {
    padding-left: 30px;
}

.wu-input-medium {
    font-size: 14px;
}

.wu-input-medium .wu-input_inner {
    height: 36px;
    line-height: 36px;
}

.wu-input-medium .wu-input_icon {
    line-height: 36px;
}

.wu-input-small {
    font-size: 13px;
}

.wu-input-small .wu-input_inner {
    height: 32px;
    line-height: 32px;
}

.wu-input-small .wu-input_icon {
    line-height: 32px;
}

.wu-input-mini {
    font-size: 12px;
}

.wu-input-mini .wu-input_inner {
    height: 28px;
    line-height: 28px;
}

.wu-input-mini .wu-input_icon {
    line-height: 28px;
}

.wu-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.wu-input-group > .wu-input_inner {
    vertical-align: middle;
    display: table-cell;
}

.wu-input-group_append,
.wu-input-group_prepend {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;
}

.wu-input-group-prepend .wu-input_inner,
.wu-input-group_append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.wu-input-group-append .wu-input_inner,
.wu-input-group_prepend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.wu-input-group_append:focus,
.wu-input-group_prepend:focus {
    outline: 0;
}

.wu-input-group_append .wu-button,
.wu-input-group_append .wu-select,
.wu-input-group_prepend .wu-button,
.wu-input-group_prepend .wu-select {
    display: inline-block;
    margin: -10px -20px;
}

.wu-input-group_append button.wu-button,
.wu-input-group_append div.wu-select .wu-input_inner,
.wu-input-group_append div.wu-select:hover .wu-input_inner,
.wu-input-group_prepend button.wu-button,
.wu-input-group_prepend div.wu-select .wu-input_inner,
.wu-input-group_prepend div.wu-select:hover .wu-input_inner {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0;
}

.wu-input-group_append .wu-button,
.wu-input-group_append .wu-input,
.wu-input-group_prepend .wu-button,
.wu-input-group_prepend .wu-input {
    font-size: inherit;
}

.wu-input-group_prepend {
    border-right: 0;
}

.wu-input-group_append {
    border-left: 0;
}

.wu-input-group-append .wu-select .wu-input.is-focus .wu-input_inner,
.wu-input-group-prepend .wu-select .wu-input.is-focus .wu-input_inner {
    border-color: transparent;
}

.wu-input_inner::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.wu-tag {
    background-color: #ecf5ff;
    border-color: #d9ecff;
    display: inline-block;
    height: 32px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    color: $--select-input-focus-border-color;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-sizing: border-box;
}

.wu-tag.is-hit {
    border-color: $--select-input-focus-border-color;
}

.wu-tag .wu-tag_close {
    color: $--select-input-focus-border-color;
}

.wu-tag .wu-tag_close:hover {
    color: #fff;
    background-color: $--select-input-focus-border-color;
}

.wu-tag.wu-tag-info {
    background-color: #f4f4f5;
    border-color: #e9e9eb;
    color: #909399;
}

.wu-tag.wu-tag-info.is-hit {
    border-color: #909399;
}

.wu-tag.wu-tag-info .wu-tag_close {
    color: #909399;
}

.wu-tag.wu-tag-info .wu-tag_close:hover {
    color: #fff;
    background-color: #909399;
}

.wu-tag.wu-tag-success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
    color: #67c23a;
}

.wu-tag.wu-tag-success.is-hit {
    border-color: #67c23a;
}

.wu-tag.wu-tag-success .wu-tag_close {
    color: #67c23a;
}

.wu-tag.wu-tag-success .wu-tag_close:hover {
    color: #fff;
    background-color: #67c23a;
}

.wu-tag.wu-tag-warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
    color: #e6a23c;
}

.wu-tag.wu-tag-warning.is-hit {
    border-color: #e6a23c;
}

.wu-tag.wu-tag-warning .wu-tag_close {
    color: #e6a23c;
}

.wu-tag.wu-tag-warning .wu-tag_close:hover {
    color: #fff;
    background-color: #e6a23c;
}

.wu-tag.wu-tag-danger {
    background-color: #fef0f0;
    border-color: #fde2e2;
    color: #f56c6c;
}

.wu-tag.wu-tag-danger.is-hit {
    border-color: #f56c6c;
}

.wu-tag.wu-tag-danger .wu-tag_close {
    color: #f56c6c;
}

.wu-tag.wu-tag-danger .wu-tag_close:hover {
    color: #fff;
    background-color: #f56c6c;
}

.wu-tag .wu-icon-close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    vertical-align: middle;
    top: -1px;
    right: -5px;
}

.wu-tag .wu-icon-close::before {
    display: block;
}

.wu-tag-dark {
    background-color: $--select-input-focus-border-color;
    border-color: $--select-input-focus-border-color;
    color: #fff;
}

.wu-tag-dark.is-hit {
    border-color: $--select-input-focus-border-color;
}

.wu-tag-dark .wu-tag_close {
    color: #fff;
}

.wu-tag-dark .wu-tag_close:hover {
    color: #fff;
    background-color: #66b1ff;
}

.wu-tag-dark.wu-tag-info {
    background-color: #909399;
    border-color: #909399;
    color: #fff;
}

.wu-tag-dark.wu-tag-info.is-hit {
    border-color: #909399;
}

.wu-tag-dark.wu-tag-info .wu-tag_close {
    color: #fff;
}

.wu-tag-dark.wu-tag-info .wu-tag_close:hover {
    color: #fff;
    background-color: #a6a9ad;
}

.wu-tag-dark.wu-tag-success {
    background-color: #67c23a;
    border-color: #67c23a;
    color: #fff;
}

.wu-tag-dark.wu-tag-success.is-hit {
    border-color: #67c23a;
}

.wu-tag-dark.wu-tag-success .wu-tag_close {
    color: #fff;
}

.wu-tag-dark.wu-tag-success .wu-tag_close:hover {
    color: #fff;
    background-color: #85ce61;
}

.wu-tag-dark.wu-tag-warning {
    background-color: #e6a23c;
    border-color: #e6a23c;
    color: #fff;
}

.wu-tag-dark.wu-tag-warning.is-hit {
    border-color: #e6a23c;
}

.wu-tag-dark.wu-tag-warning .wu-tag_close {
    color: #fff;
}

.wu-tag-dark.wu-tag-warning .wu-tag_close:hover {
    color: #fff;
    background-color: #ebb563;
}

.wu-tag-dark.wu-tag-danger {
    background-color: #f56c6c;
    border-color: #f56c6c;
    color: #fff;
}

.wu-tag-dark.wu-tag-danger.is-hit {
    border-color: #f56c6c;
}

.wu-tag-dark.wu-tag-danger .wu-tag_close {
    color: #fff;
}

.wu-tag-dark.wu-tag-danger .wu-tag_close:hover {
    color: #fff;
    background-color: #f78989;
}

.wu-tag-plain {
    background-color: #fff;
    border-color: #b3d8ff;
    color: $--select-input-focus-border-color;
}

.wu-tag-plain.is-hit {
    border-color: $--select-input-focus-border-color;
}

.wu-tag-plain .wu-tag_close {
    color: $--select-input-focus-border-color;
}

.wu-tag-plain .wu-tag_close:hover {
    color: #fff;
    background-color: $--select-input-focus-border-color;
}

.wu-tag-plain.wu-tag-info {
    background-color: #fff;
    border-color: #d3d4d6;
    color: #909399;
}

.wu-tag-plain.wu-tag-info.is-hit {
    border-color: #909399;
}

.wu-tag-plain.wu-tag-info .wu-tag_close {
    color: #909399;
}

.wu-tag-plain.wu-tag-info .wu-tag_close:hover {
    color: #fff;
    background-color: #909399;
}

.wu-tag-plain.wu-tag-success {
    background-color: #fff;
    border-color: #c2e7b0;
    color: #67c23a;
}

.wu-tag-plain.wu-tag-success.is-hit {
    border-color: #67c23a;
}

.wu-tag-plain.wu-tag-success .wu-tag_close {
    color: #67c23a;
}

.wu-tag-plain.wu-tag-success .wu-tag_close:hover {
    color: #fff;
    background-color: #67c23a;
}

.wu-tag-plain.wu-tag-warning {
    background-color: #fff;
    border-color: #f5dab1;
    color: #e6a23c;
}

.wu-tag-plain.wu-tag-warning.is-hit {
    border-color: #e6a23c;
}

.wu-tag-plain.wu-tag-warning .wu-tag_close {
    color: #e6a23c;
}

.wu-tag-plain.wu-tag-warning .wu-tag_close:hover {
    color: #fff;
    background-color: #e6a23c;
}

.wu-tag-plain.wu-tag-danger {
    background-color: #fff;
    border-color: #fbc4c4;
    color: #f56c6c;
}

.wu-tag-plain.wu-tag-danger.is-hit {
    border-color: #f56c6c;
}

.wu-tag-plain.wu-tag-danger .wu-tag_close {
    color: #f56c6c;
}

.wu-tag-plain.wu-tag-danger .wu-tag_close:hover {
    color: #fff;
    background-color: #f56c6c;
}

.wu-tag-medium {
    height: 28px;
    line-height: 26px;
}

.wu-tag-medium .wu-icon-close {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.wu-tag-small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;
}

.wu-tag-small .wu-icon-close {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.wu-tag-mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px;
}

.wu-tag-mini .wu-icon-close {
    margin-left: -3px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.wu-select-dropdown_item {
    font-size: 14px;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
}

.wu-select-dropdown_item.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed;
}

.wu-select-dropdown_item.is-disabled:hover {
    background-color: #fff;
}

.wu-select-dropdown_item.hover,
.wu-select-dropdown_item:hover {
    background-color: #f5f7fa;
}

.wu-select-dropdown_item.selected {
    color: $--select-input-focus-border-color;
    font-weight: 700;
}

.wu-select-group {
    margin: 0;
    padding: 0;
}

.wu-select-group_wrap {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.wu-select-group_wrap:not(:last-of-type) {
    padding-bottom: 24px;
}

.wu-select-group_wrap:not(:last-of-type)::after {
    content: '';
    position: absolute;
    display: block;
    left: 20px;
    right: 20px;
    bottom: 12px;
    height: 1px;
    background: #e4e7ed;
}

.wu-select-group_title {
    padding-left: 20px;
    font-size: 12px;
    color: #909399;
    line-height: 30px;
}

.wu-select-group .wu-select-dropdown_item {
    padding-left: 20px;
}

.wu-scrollbar {
    overflow: hidden;
    position: relative;
}

.wu-scrollbar:active > .wu-scrollbar_bar,
.wu-scrollbar:focus > .wu-scrollbar_bar,
.wu-scrollbar:hover > .wu-scrollbar_bar {
    opacity: 1;
    -webkit-transition: opacity 340ms ease-out;
    transition: opacity 340ms ease-out;
}

.wu-scrollbar_wrap {
    overflow: scroll;
    height: 100%;
}

.wu-scrollbar_wrap-hidden-default {
    scrollbar-width: none;
}

.wu-scrollbar_wrap-hidden-default::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.wu-scrollbar_thumb {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(144, 147, 153, 0.3);
    -webkit-transition: 0.3s background-color;
    transition: 0.3s background-color;
}

.wu-scrollbar_thumb:hover {
    background-color: rgba(144, 147, 153, 0.5);
}

.wu-scrollbar_bar {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: opacity 120ms ease-out;
    transition: opacity 120ms ease-out;
}

.wu-scrollbar_bar.is-vertical {
    width: 6px;
    top: 2px;
}

.wu-scrollbar_bar.is-vertical > div {
    width: 100%;
}

.wu-scrollbar_bar.is-horizontal {
    height: 6px;
    left: 2px;
}

.wu-scrollbar_bar.is-horizontal > div {
    height: 100%;
}

.wu-select {
    display: inline-block;
    position: relative;
}

.wu-select.block {
    display: block;
    position: relative;
}

.wu-select .wu-select_tags > span {
    display: contents;
}

.wu-select:hover .wu-input_inner {
    border-color: #c0c4cc;
}

.wu-select .wu-input_inner {
    cursor: pointer;
    padding-right: 35px;
}

.wu-select .wu-input_inner:focus {
    border-color: $--select-input-focus-border-color;
}

.wu-select .wu-input .wu-select_caret {
    color: #c0c4cc;
    font-size: 14px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    cursor: pointer;
}

.wu-select .wu-input .wu-select_caret.is-reverse {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
}

.wu-select .wu-input .wu-select_caret.is-show-close {
    font-size: 14px;
    text-align: center;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    border-radius: 100%;
    color: #c0c4cc;
    -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wu-select .wu-input .wu-select_caret.is-show-close:hover {
    color: #909399;
}

.wu-select .wu-input.is-disabled .wu-input_inner {
    cursor: not-allowed;
}

.wu-select .wu-input.is-disabled .wu-input_inner:hover {
    border-color: #e4e7ed;
}

.wu-select .wu-input.is-focus .wu-input_inner {
    border-color: $--select-input-focus-border-color;
}

.wu-select > .wu-input {
    display: block;
}

.wu-select_input {
    border: none;
    outline: 0;
    padding: 0;
    margin-left: 15px;
    color: #666;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 28px;
    background-color: transparent;
}

.wu-select_input.is-mini {
    height: 14px;
}

.wu-select_close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: 1000;
    right: 25px;
    color: #c0c4cc;
    line-height: 18px;
    font-size: 14px;
}

.wu-select_close:hover {
    color: #909399;
}

.wu-select_tags {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wu-select .wu-tag_close {
    margin-top: -2px;
}

.wu-select .wu-tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: transparent;
    margin: 2px 0 2px 6px;
    background-color: #f0f2f5;
}

.wu-select .wu-tag_close.wu-icon-close {
    background-color: #c0c4cc;
    right: -7px;
    top: 0;
    color: #fff;
}

.wu-select .wu-tag_close.wu-icon-close:hover {
    background-color: #909399;
}

.wu-select .wu-tag_close.wu-icon-close::before {
    display: block;
    -webkit-transform: translate(0, 0.5px);
    transform: translate(0, 0.5px);
}

.wu-select .wu-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
}

.wu-select-dropdown.is-multiple .wu-select-dropdown_item.selected {
    color: $--select-input-focus-border-color;
    background-color: #fff;
}

.wu-select-dropdown.is-multiple .wu-select-dropdown_item.selected.hover {
    background-color: #f5f7fa;
}

.wu-select .selected svg {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    font-weight: 700;
    width: 15px;
    -webkit-font-smoothing: antialiased;
    fill: currentColor;
}

.wu-select-dropdown .wu-scrollbar.is-empty .wu-select-dropdown_list {
    padding: 0;
}

.wu-select-dropdown_empty {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 14px;
}

.wu-select-dropdown_wrap {
    max-height: 274px;
}

.wu-select-dropdown_list {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wu-select .arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -0.5em;
    color: #747679;
    cursor: pointer;
}

.wu-select .wu-input_suffix-clearable {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 200 !important;
    margin-right: 8px;
}
.wu-select .is-disabled {
    & .wu-input_inner {
        cursor: not-allowed;

        &:hover {
            border-color: $--select-disabled-border;
        }
    }
}
