@use "sass:map";
@use "sass:math";
@import '../../theme/common/var.scss';
@import '../../theme/common/mixin.scss';

.wu-select-dropdown_item {
    color: #606266;
    position: relative;
    :hover {
        background-color: $--select-option-hover-background;
    }
    .selected {
        color: $--select-option-selected-font-color;
        background-color: $--select-dropdown-background;

        &.hover {
            background-color: $--select-option-hover-background;
        }
        :hover {
            background-color: $--select-option-hover-background;
            width: 100%;
            height: 100%;
        }
    }
    span {
        font-size: 14px;
        padding: 0 20px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 34px;
        line-height: 34px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        width: 100%;
    }
    svg {
        position: absolute;
        right: 15px;
        top: 10px;
        color: $--select-option-selected-font-color;
        font-size: 12px;
        font-weight: 700;
        width: 15px;
        -webkit-font-smoothing: antialiased;
        fill: currentcolor;
    }
}
