// info
.ant-alert-info{
  background-color: var(--color-primary-light-1);
  border: 1px solid transparent;
  
  span{
    color: var(--color-text-2);
  }
}

// warning
.ant-alert-warning{
  background-color: var(--color-warning-light-1);
  border: 1px solid transparent;
  
  span{
    color: var(--color-text-2);
  }
}

// error
.ant-alert-error{
  background-color: var(--color-danger-light-1);
  border: 1px solid transparent;
  
  span{
    color: var(--color-text-2);
  }
}

// success
.ant-alert-error{
  background-color: var(--color-success-light-1);
  border: 1px solid transparent;
  
  span{
    color: var(--color-text-2);
  }
}
