:host {
    width: 100%;
    height: 100%;
}
.containerViewer {
    width: 100%;
    height: 100%;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
}
#codeIframe {
    width: 100%;
    height: 100%;
}
