<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html {
            width: 100vw;height:100vh;
        }
    </style>
    <script src="./static/web-core-plus/index.umd.js"></script>
<script src="./static/wu-lottie/index.umd.js"></script>
<script src="./static/wu-code-monaco-editor/index.umd.js"></script>
<script src="./static/wu-code-sandbox/index.umd.js"></script>
<script src="./static/wu-code-playground/index.umd.js"></script>

</head>
<body style="width: 100%;height: 100%;margin: 0;">
    <wu-code-playground style="width: 100%;height: 100%"></wu-code-playground>
</body>
</body>
</html>