@use "sass:map";
@import '../../theme/common/var.scss';
@import '../../theme/common/mixin.scss';
:host{
    display: inline-block;
}
:host([disabled]){
    cursor: not-allowed;
    pointer-events: none;
}
:host([disabled=true]){
    cursor: not-allowed;
    pointer-events: none;
}
.wu-data-picker {
    border: 1px solid #dcdfe6;
}
@include b(data-picker) {
    position: relative;
    font-size: $--font-size-base;
    -webkit-appearance: none;
    background-color: $--input-background-color;
    background-image: none;
    border-radius: $--input-border-radius;
    border: $--input-border;
    box-sizing: border-box;
    color: $--input-font-color;
    display: inline-block;
    height: $--input-height;
    line-height: $--input-height;
    outline: none;
    padding: 0 15px;
    transition: $--border-transition-base;
    @include scroll-bar;
    @include when(active) {
        outline: none;
        border-color: $--input-focus-border;
    }

    @include when(disabled) {
        background-color: $--input-disabled-fill;
        border-color: $--input-disabled-border;
        color: $--input-disabled-color;
        cursor: not-allowed;
        pointer-events: none;
        .iconfont-xndatepicker {
            cursor: not-allowed;
        }
    }

    @include when(exceed) {
        border-color: $--color-danger;
    }

    @include m(suffix) {
        padding-right: 30px;
    }

    @include m(prefix) {
        padding-left: 30px;
    }

    @include m(medium) {
        font-size: $--input-medium-font-size;
        height: $--input-medium-height;
        line-height: $--input-medium-height;
        .iconfont-xndatepicker {
            line-height: $--input-medium-height;
        }
    }
    @include m(small) {
        font-size: $--input-small-font-size;
        height: $--input-small-height;
        line-height: $--input-small-height;
        .iconfont-xndatepicker {
            line-height: $--input-small-height;
        }
    }
    @include m(mini) {
        font-size: $--input-mini-font-size;
        height: $--input-mini-height;
        line-height: $--input-mini-height;
        .iconfont-xndatepicker {
            line-height: $--input-mini-height;
        }
    }
}
