._wu-button {
    padding: 12px 20px;
    width: 48px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #409eff;
    color: #ffffff;
    cursor: pointer;
}
._wu-button__primary {
    background-color: #409eff;
}
._wu-button__danger {
    background-color: #f56c6c;
}
._wu-button__warning {
    background-color: #e6a23c;
}
._wu-button__info {
    background-color: #909399;
}
._wu-button__success {
    background-color: #67c23a;
}

