@use "sass:map";
@import '../../theme/common/var.scss';
@import '../../theme/common/mixin.scss';

@include b(timeline) {
    margin: 0;
    font-size: $--font-size-base;
    list-style: none;

    & .wu-timeline-item:last-child {
        & .wu-timeline-item__tail {
            display: none;
        }
    }
}

