@use "sass:map";
@import '../../theme/common/var.scss';
@import '../../theme/common/mixin.scss';
:host {
    display:block;
}
form {
    display:grid;
    grid-template-columns:auto 1fr;
    grid-gap:.8em;
    align-items: center;
    justify-items: end;
}
:host([type=full]) form{
    grid-template-columns:1fr;
    justify-items: start;
}
:host([type=none]) form{
    display:contents;
}
:host(:not([type=full])) ::slotted(:not(wu-plus-form-item)){
    justify-self: stretch;
    grid-column:span 2;
}
