@font-face {
  font-family: "iconfont-xndatepicker"; /* Project id 2213760 */
  src: url('https://qiniu.canyuegongzi.xyz/iconfont.1655025754402.woff') format('woff'),
       url('https://qiniu.canyuegongzi.xyz/iconfont.1655025754402.woff') format('truetype');
}

.iconfont-xndatepicker {
  font-family: "iconfont-xndatepicker" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xndatepickershanchu:before {
  content: "\e609";
  color: #c0c4cc;
}

.icon-xndatepickerrili:before {
  content: "\e673";
  color: #c0c4cc;
}

.icon-xndatepickerprev1:before {
  content: "\e600";
  color: #303133;
}

.icon-xndatepickerprev:before {
  content: "\e601";
  color: #303133;
}

