@use "sass:map";
@use "sass:math";
@import '../../theme/common/var.scss';
@import '../../theme/common/mixin.scss';
:host {}
.wu-breadcrumb_item {
    .wu-breadcrumb_separator {
        margin: 0 9px;
        font-weight: bold;
        color: $--color-text-placeholder;

        &[class*=icon] {
            margin: 0 6px;
            font-weight: normal;
        }
    }

    .wu-breadcrumb_inner {
        color: $--color-text-regular;
    }
    .is-link, a {
        font-weight: bold !important;
        text-decoration: none !important;
        transition: $--color-transition-base !important;
        color: $--color-text-primary !important;

        &:hover {
            color: $--color-primary !important;
            cursor: pointer;
        }
    }
}
