.xndatepicker a, .xndatepicker a:hover {
    text-decoration: none;
}

.xndatepicker a {
    text-decoration: none;
}

.xndatepicker ol, .xndatepicker ul {
    list-style: none;
    margin:0;
    padding:0;
}

.xndatepicker,.xndatepicker-mobile-outer{
    --background-color:#fff;
    --primary-color:#409eff;
    --border-color:#f2f2f2;
    --disable-color:#ccc;
    --color:#333;
    --hover-background:#409eff;
    --hover-color:#fff;
    --week-color:#666;
    --shortcut-color:#409eff;
    --shortcut-hover-color:#409eff;
    --title-color:#333;
    --title-hover-color:#409eff;
    --prev-hover-color:#409eff;
    --range-background:rgb(233, 241, 255);
    --range-hover-color:#333;
}

.xndatepicker.blue,.xndatepicker-mobile-outer.blue{
    --background-color:#409eff;
    --primary-color:#409eff;
    --border-color:#409eff;
    --disable-color:#838282;
    --color:#fff;
    --hover-background:#2979ff;
    --hover-color:#fff;
    --week-color:#fff;
    --shortcut-color:#fff;
    --shortcut-hover-color:#409eff;
    --title-color:#fff;
    --title-hover-color:#409eff;
    --prev-hover-color:#409eff;
    --range-background: rgb(24 52 101);
    --range-hover-color:#a2bce5;
}
.xndatepicker.orange,.xndatepicker-mobile-outer.orange{
    --background-color:#fff;
    --primary-color:#ff7431;
    --border-color:#f2f2f2;
    --disable-color:#ccc;
    --color:#333;
    --hover-background:#f8621a;
    --hover-color:#fff;
    --week-color:#666;
    --shortcut-color:#f8621a;
    --shortcut-hover-color:#ff7431;
    --title-color:#333;
    --title-hover-color:#ff7431;
    --prev-hover-color:#ff7431;
    --range-background:rgb(255 239 232);
    --range-hover-color:#333;
}
.xndatepicker.pink,.xndatepicker-mobile-outer.pink{
    --background-color:#fff;
    --primary-color:#d06396;
    --border-color:#f2f2f2;
    --disable-color:#ccc;
    --color:#333;
    --hover-background:#f48fbf;
    --hover-color:#fff;
    --week-color:#666;
    --shortcut-color:#d06396;
    --shortcut-hover-color:#f48fbf;
    --title-color:#333;
    --title-hover-color:#f48fbf;
    --prev-hover-color:#f48fbf;
    --range-background:#fef4f9;
    --range-hover-color:#333;
}

.xndatepicker.green,.xndatepicker-mobile-outer.green{
    --background-color:#fff;
    --primary-color:#42a148;
    --border-color:#f2f2f2;
    --disable-color:#ccc;
    --color:#333;
    --hover-background:#73bb77;
    --hover-color:#fff;
    --week-color:#666;
    --shortcut-color:#42a148;
    --shortcut-hover-color:#73bb77;
    --title-color:#333;
    --title-hover-color:#73bb77;
    --prev-hover-color:#73bb77;
    --range-background:#ddedde;
    --range-hover-color:#333;
}
