@import './config.less';
.arrow {
  display: inline-block;
  transition: transform .25s ease-in-out;
  font-size: 14px;
  font-weight: 600;

  &.down {
    transform: rotate(0deg);
  }

  &.right {
    transform: rotate(-90deg);
  }

}
